<html>
  <head>
    <title>Professores</title>
  </head>
  <body>
    <h1>Professores do Icomp/UFAM</h1>
    <ul>
      {{#each profes}}
        <li>{{nome}} - sala {{sala}}</li>
      {{/each}}
    </ul>
  </body>
</html>