# npm
node_modules
package-lock.json
*.log
*.gz

!build
build/*

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Logs
logs

# Enverioments
.env.production

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore