<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link rel="stylesheet" href="../../../assets/styles/hb1.css">
</head>
<body>
{{{body}}}
</body>
</html>
